<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid bg-white mb-0">
  <div class="container text-center">
    <h1 class="display-4">Welcome to Bug Tracker!</h1>
    <p class="lead">This is a bug tracking app that has the functionality of adding bugs,
           editing them and deleting them when they have been fixed.</p>
  </div>
</div>

<div class="container mb-4">
  <div class="h3">List of Bugs:</div>
      <div class="row">
          <% bugs.forEach(function(bug){ %>         
            <div class="card mb-2">
              <div class="card-body">
                <a class="card-title" href="/bugs/<%= bug._id %>"><%= bug.title %></a>
                <h6 class="card-subtitle mt-2 mb-2">Project: <%= bug.project %></h6>
                <h6 class="card-subtitle mb-2">Area: <%= bug.area %></h6>
                <h6 class="card-subtitle mb-2">Priority: <%= bug.priority %></h6>
                <p class="card-text">Comments: <%= bug.comment %></p>
              </div>
            </div>
            <% }) %>
        </div>
</div>

<%- include("partials/footer") %>